In [11]:
import seaborn as sns
sns.set_theme(style='whitegrid')

In [12]:
import matplotlib.pyplot as plt
import koreanize_matplotlib

import pandas as pd
import seaborn as sns
import numpy as np

In [13]:
titanic_df = pd.read_excel("./data/train.xlsx")

- survived : 생존여부(0:사망, 1:생존)
- sibsp : Sibling, Spouse (탑승한 형제자매/배우자 수)
- parch : parent, Child (탑승한 부모/자녀 수)
- Pclass : 1st=Upper, 2nd=Middle, 3rd=Lower (1에 가까울수록 좋은 자리)
- Embarked(승선지) : C(Cherbourg), Q(Queestown), S(Southampton)
- who : main, womain, child
- fare : 요금
- deck : cabin

In [14]:
# 행, 열

titanic_df.shape

(891, 12)

In [15]:
# 기술 통계 요약

titanic_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [16]:
titanic_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Gender           0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [17]:
titanic_df.dropna().describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000
mean,455.366120,0.672131,1.191257,35.674426,0.464481,0.475410,78.682469
std,247.052476,0.470725,0.515187,15.643866,0.644159,0.754617,76.347843
min,2.000000,0.000000,1.000000,0.920000,0.000000,0.000000,0.000000
25%,263.500000,0.000000,1.000000,24.000000,0.000000,0.000000,29.700000
50%,457.000000,1.000000,1.000000,36.000000,0.000000,0.000000,57.000000
75%,676.000000,1.000000,1.000000,47.500000,1.000000,1.000000,90.000000
max,890.000000,1.000000,3.000000,80.000000,3.000000,4.000000,512.329200

In [ ]:
# 클래스 별 탑승자는 몇 명인가?

titanic_df.groupby('class').count()
titanic_df.groupby('class')['survived'].count() # 시리즈 구조
class_df = titanic_df.groupby('class')[['survived']].count() # 데이터 프레임 구조

KeyError: 'class'

In [ ]:
# 수평막대

In [ ]:
# 승객들이 클래스별로 지불한 요금의 중앙값은 얼마인가?

print("중앙값 ",titanic_df.groupby('class')['fare'].median())
print("평균 ",titanic_df.groupby('class')['fare'].mean())

In [ ]:
# 생존자 정보 조회

titanic_df.head(2)
titanic_df[titanic_df['alive'] == 'yes']
titanic_df.query("alive == 'yes'")

In [ ]:
# 생존자 중에서 클래스 별 정보 조회

titanic_df.query("alive == 'yes'").groupby('class').count()

In [ ]:
# 나이가 30세 초과인 승객에 대해 클래스별 중앙값 

titanic_df.query("age > 30").groupby('class').median(numeric_only=True)

In [ ]:
# 요금 지불비용이 20보다 작은 승객에 대해 클래스별 중앙값

titanic_df.query("fare < 20").groupby('class').median(numeric_only=True)