### 자료형
- 숫자형 : 정수, 실수, 8진수, 16진수

In [3]:
a = 123
b = -1234

# 8진수(0o), 16진수(0x)
c = 0o177 # (1 * 8의2) + (7 * 8) + 7
c   # print(c)

127

In [5]:
# 사칙연산 : +, -, *, /, //, %

a = 3
b = 4

print(a + b)
print(a - b)
print(a * b)
print(a / b)    # 자바 : 몫, 자바스크립트, 파이썬
print(a // b)   # 자바스크립트, 파이썬 => 몫
print(a % b)

7
-1
12
0.75
0
3

- 문자열 자료형
    - 작은 따옴표, 큰 따옴표, 큰 따옴표 3개, 작은 따옴표 3개

In [ ]:
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [11]:
food = 'Python\'s favorite food is perl'
food

"Python's favorite food is perl"

In [16]:
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [15]:
multiline = """Life is too short
You need python"""
print(multiline)

Life is too short
You need python

In [ ]:
multiline = '''Life is too short
You need python'''
print(multiline)

Life is too short
You need python

```
- 문자열 연산
    - + : 연결 
    - * : 반복
```

In [20]:
head = "Python"
tail = " is fun"
print(head + tail)

Python is fun

In [22]:
head = "Python"
print(head * 2)

PythonPython

In [25]:
print("="*50)
print("파이썬 프로그램")
print("="*50)

==================================================
파이썬 프로그램
==================================================

- 문자열 인덱싱과 슬라이싱(★)
    - 인덱스 : 0(왼쪽)부터 시작, -1 을 붙이면 오른쪽부터 접근

In [26]:
str1 = '''Life is too short You need python'''
str1

'Life is too short You need python'

In [28]:
# 인덱스
print(str1[3])
print(str1[-3])

e
h

In [33]:
# 슬라이싱[시작위치:종료위치]
# 위치 지정하지 않으면 무조건 처음 or 마지막 의미

print(str1[3:])
print(str1[:6])
print(str1[:])
print(str1[:-7])

e is too short You need python
Life i
Life is too short You need python
Life is too short You need

In [36]:
a = "20250602Rainy"

# 날짜와 날씨 구분 후 출력
date = a[:8]
weather = a[8:]
print(date)
print(weather)

20250602
Rainy

- 문자열 포매팅
    - %s : 문자열,(모든 것 가능)
    - %c : 문자 1개
    - %d : 정수
    - %f : 부동소수
    - %% : 문자 %를 의미

In [43]:
# %d, %s, %f

print("I eat %d apples" % 3)
print("I eat %s apples" % 3)
print("I eat %s apples. so I was sick for %s days" % (5,"five"))
print('Error is %d%%' % 98)

I eat 3 apples
I eat 3 apples
I eat 5 apples. so I was sick for five days
Error is 98%

In [46]:
print('%s' % 'hi')
print('%10s' % 'hi') # 10칸에서 오른쪽 정렬
print('%-10s' % 'hi') # 10칸에서 왼쪽 정렬

hi
        hi
hi

In [49]:
print("%.4f" % 3.141592)
print("%10.4f" % 3.141592)

3.1416
    3.1416

format 함수 사용한 포매팅

In [53]:
print("I eat {0} apples".format(3))
print("I eat {0} apples".format(3))
print("I eat {0} apples".format("five"))
print("I eat {0} apples. so I was sick for {1} days".format(5,"five"))

I eat 3 apples
I eat 3 apples
I eat five apples
I eat 5 apples. so I was sick for five days

In [55]:
number = 3
print("I eat %d apples" % number)
print("I eat {0} apples".format(number))
print("I eat", number, "apples")

I eat 3 apples
I eat 3 apples
I eat 3 apples

f 문자열 포매팅

In [58]:
name = '홍길동'
age = 30
print(f"나의 이름은 {name}입니다. 나이는 {age}입니다.")
print(f"나의 이름은 {name}입니다. 나이는 {age + 1}입니다.")

나의 이름은 홍길동입니다. 나이는 30입니다.
나의 이름은 홍길동입니다. 나이는 31입니다.

문자열 관련 함수

In [61]:
a = "hobby"
# count() : 특정 문자열 갯수

a.count('b')

2

In [ ]:
# 길이
len(a)

5

In [ ]:
a = "Python is the best choice"
# b 라는 문자가 처음 나온 위치
# find(찾을 문자, 시작 위치(옵션))
print(a.find("b"))
print(a.find("b", 10))
print(a.rfind("b"))
print(a.find("k"))

14
14
14
-1

In [68]:
print(a.index("b"))
# print(a.index("k")) 찾는 문자가 없을 때 에러 반환

14

In [ ]:
# startswith() : 특정 문자로 시작하는
# endswith() : 특정 문자로 끝나는
print(a.startswith("P"))
print(a.startswith("p"))
print(a.endswith("P"))

True
False
False

In [78]:
# join() : 리스트를 일반 무자열로 변경 시 가장 많이 사용

print(",".join("abcde"))
print("".join(["A","B","C","D"]))

a,b,c,d,e
ABCD

In [ ]:
# upper(), lower() : 대문자, 소문자 변환
# swapcase() : 대소문자 상호 변환 묹長
a = "abcde"
print(a.upper())
a = "ABCDE"
print(a.lower())
a = "AbCdE"
print(a.swapcase())

ABCDE
abcde
aBcDe

In [83]:
# 공백 제거
# lstrip() : 왼쪽 공백 제거
# rstrip() : 오른쪽 공백 제거
# strip() : 양쪽 공백 제거

a = "       hi"
print(a)
print(a.lstrip())

a = "hi       "
print(a)
print(a.rstrip())

a = "       hi          "
print(a)
print(a.strip())

       hi
hi
hi
hi
       hi
hi

In [85]:
# 문자열 변경 : replace

a = "Life is too short"
a.replace("Life","Your leg")

'Your leg is too short'

In [89]:
# 문자열 나누기 : split
# default : 공백기준

print(a.split())

a = "a:b:c:d"
print(a.split(":"))

['a:b:c:d']
['a', 'b', 'c', 'd']

In [ ]:
# 문자열 구성 파악

print("1234".isdigit())
print("1234".isalpha())
print("1234".isalnum()) # alpha + num
print("ABCD".islower())
print("abcd".isupper())
print("    ".isspace())

True
False
True
False
False
True

In [102]:
# 사용자에게 2030/10/30 형태로 입력 받은 후 10년 후 날짜를 계산해서 보여주기

date1 = (input("날짜입력(년/월/일)"))
print(date1)

pos = date1.find("/")
year = int(date1[:pos]) + 10

# int + str => TypeError: unsupported operand type
print("입력한 날짜의 10년 후 : %s" % (str(year) + date1[pos:7] + date1[7:]))

2030/10/30
입력한 날짜의 10년 후 : 2040/10/30

In [107]:
date = date1.split("/")
print(date[0])
print(date[1])
print(date[2])

year = int(date[0]) + 10

print("입력한 날짜의 10년 후 : %s" % (str(year) + "/" + date[1] + "/" + date[2]))

2030
10
30
입력한 날짜의 10년 후 : 2040/10/30

In [1]:
# http://naver.com

# 암호생성
# 규칙 1 : http:// 부분은 제외
# 규칙 2 : 처음 나오는 . 이후 부분은 제외
# 규칙 3 : 남은 글자 중 세 자리 + 글자 개수 + 글자 내 'e' 개수 + ! 로 구성


url = "http://naver.com"
print(url)
p = url.split(".")

p = p[0].split("//")
print(p[1])
p = p[1]

print(p[:2])

print(p[:3] + str(len(p)) + str(p.count('e')) + "!")

http://naver.com
naver
na
nav51!