### DB 연동
- 내장 DB : SQLite
    - RDBMS : 테이블 형태 DB

In [1]:
import sqlite3
from datetime import datetime

In [2]:
print('version', sqlite3.sqlite_version)

version 3.49.1

In [6]:
now = datetime.now()
print(now)

# 원하는 형식으로 변경
nowDateTime = now.strftime("%Y-%m-%d %H:%M:%S")
print(nowDateTime)

2025-06-10 10:49:07.758627
2025-06-10 10:49:07

In [9]:
# 데이터베이스 생성
# isolation_level : autocommit 하지 않기
conn = sqlite3.connect("./test.db", isolation_level=None)

In [10]:
cursor = conn.cursor()

In [11]:
# 테이블 생성

sql = "create table if not exists users(id integer primary key, username text, email text, phone text, website text, regdate text)"

cursor.execute(sql)

In [12]:
# create(insert)

sql = "insert into users(id,username,email,phone,website,regdate) "
sql += "values(1, 'kim', 'kim@gmail.com', '010-1234-1234', 'Kim.com', ?)"

# ? : 튜플로 지정하기
cursor.execute(sql, (nowDateTime,))

In [13]:

sql = "insert into users(id,username,email,phone,website,regdate) "
sql += "values(?, ?, ?, ?, ?, ?)"

# ? : 튜플로 지정하기
cursor.execute(sql, (2, 'Park', 'Park@gmail.com', '010-4324-1234', 'Park.com', nowDateTime,))

In [15]:
userList = [
    (3, 'Hong', 'Hong@gmail.com', '010-4324-1234', 'Hong.com', nowDateTime),
    (4, 'Lee', 'Lee@gmail.com', '010-4324-1234', 'Lee.com', nowDateTime),
    (5, 'Yoo', 'Yoo@gmail.com', '010-4324-1234', 'Yoo.com', nowDateTime)
]

cursor.executemany(sql, userList)

In [17]:
# 조회(Read) - fetchone(), fetchmany(size=x), fetchall()

sql = "select * from users"

cursor.execute(sql)

In [18]:
cursor.fetchone()

(1, 'kim', 'kim@gmail.com', '010-1234-1234', 'Kim.com', '2025-06-10 10:49:07')

In [19]:
cursor.fetchmany(2)

[(2,
  'Park',
  'Park@gmail.com',
  '010-4324-1234',
  'Park.com',
  '2025-06-10 10:49:07'),
 (3,
  'Hong',
  'Hong@gmail.com',
  '010-4324-1234',
  'Hong.com',
  '2025-06-10 10:49:07')]

In [21]:
cursor.fetchall()

[(4,
  'Lee',
  'Lee@gmail.com',
  '010-4324-1234',
  'Lee.com',
  '2025-06-10 10:49:07'),
 (5,
  'Yoo',
  'Yoo@gmail.com',
  '010-4324-1234',
  'Yoo.com',
  '2025-06-10 10:49:07')]

In [22]:
sql = "select * from users"

cursor.execute(sql)

for row in cursor.fetchall():
    print(row)

(1, 'kim', 'kim@gmail.com', '010-1234-1234', 'Kim.com', '2025-06-10 10:49:07')
(2, 'Park', 'Park@gmail.com', '010-4324-1234', 'Park.com', '2025-06-10 10:49:07')
(3, 'Hong', 'Hong@gmail.com', '010-4324-1234', 'Hong.com', '2025-06-10 10:49:07')
(4, 'Lee', 'Lee@gmail.com', '010-4324-1234', 'Lee.com', '2025-06-10 10:49:07')
(5, 'Yoo', 'Yoo@gmail.com', '010-4324-1234', 'Yoo.com', '2025-06-10 10:49:07')

In [23]:
sql = "select * from users where id=?"

cursor.execute(sql,(3,))
cursor.fetchall()

[(3,
  'Hong',
  'Hong@gmail.com',
  '010-4324-1234',
  'Hong.com',
  '2025-06-10 10:49:07')]

In [24]:
sql = "select * from users where id in (?,?)"

cursor.execute(sql,(3,5))
cursor.fetchall()

[(3,
  'Hong',
  'Hong@gmail.com',
  '010-4324-1234',
  'Hong.com',
  '2025-06-10 10:49:07'),
 (5,
  'Yoo',
  'Yoo@gmail.com',
  '010-4324-1234',
  'Yoo.com',
  '2025-06-10 10:49:07')]

In [30]:
# username : Hong

sql = "select * from users where username=?"

cursor.execute(sql,("Hong",))
cursor.fetchall()

[(3,
  'Hong',
  'Hong@gmail.com',
  '010-4324-1234',
  'Hong.com',
  '2025-06-10 10:49:07')]

In [31]:
# 수정 : update

sql = "update users set phone=? where id=?"

cursor.execute(sql,('010-9876-5432',2))

In [32]:
# 삭제 : delete

sql = "delete from users where id=?"

cursor.execute(sql, (5,))