### DB연동
- oracle 연동
- pip install oracledb

In [1]:
import oracledb
from datetime import datetime

In [2]:
conn = oracledb.connect(user='c##java',password='12345',dsn='localhost/xe')
cursor = conn.cursor()

In [3]:
now = datetime.today()
now

datetime.datetime(2025, 6, 10, 11, 40, 39, 465506)

In [4]:
sql = "select * from boardtbl where bno between 1 and 10"

cursor.execute(sql)

In [5]:
for row in cursor.fetchall():
    print(row)

(1, datetime.datetime(2025, 5, 12, 16, 35, 31, 629931), datetime.datetime(2025, 5, 12, 16, 35, 31, 629931), 'Board Content1', 'user7@gmail.com', 'Board Title1')
(2, datetime.datetime(2025, 5, 12, 16, 35, 31, 978752), datetime.datetime(2025, 5, 12, 16, 35, 31, 978752), 'Board Content2', 'user1@gmail.com', 'Board Title2')
(3, datetime.datetime(2025, 5, 12, 16, 35, 31, 989747), datetime.datetime(2025, 5, 12, 16, 35, 31, 989747), 'Board Content3', 'user2@gmail.com', 'Board Title3')
(4, datetime.datetime(2025, 5, 12, 16, 35, 31, 997742), datetime.datetime(2025, 5, 12, 16, 35, 31, 997742), 'Board Content4', 'user7@gmail.com', 'Board Title4')
(5, datetime.datetime(2025, 5, 12, 16, 35, 32, 8736), datetime.datetime(2025, 5, 12, 16, 35, 32, 8736), 'Board Content5', 'user5@gmail.com', 'Board Title5')
(6, datetime.datetime(2025, 5, 12, 16, 35, 32, 18729), datetime.datetime(2025, 5, 12, 16, 35, 32, 18729), 'Board Content6', 'user10@gmail.com', 'Board Title6')
(7, datetime.datetime(2025, 5, 12, 16, 35, 32, 70745), datetime.datetime(2025, 5, 12, 16, 35, 32, 70745), 'Board Content7', 'user5@gmail.com', 'Board Title7')
(8, datetime.datetime(2025, 5, 12, 16, 35, 32, 104726), datetime.datetime(2025, 5, 12, 16, 35, 32, 104726), 'Board Content8', 'user3@gmail.com', 'Board Title8')
(9, datetime.datetime(2025, 5, 12, 16, 35, 32, 114719), datetime.datetime(2025, 5, 12, 16, 35, 32, 114719), 'Board Content9', 'user3@gmail.com', 'Board Title9')
(10, datetime.datetime(2025, 5, 12, 16, 35, 32, 148718), datetime.datetime(2025, 5, 12, 16, 35, 32, 148718), 'Board Content10', 'user9@gmail.com', 'Board Title10')

In [10]:
# sql = "select * from boardtbl where bno=:bno"
sql = "select * from boardtbl where bno=:1"
cursor.execute(sql,(1,))
cursor.fetchone()

(1,
 datetime.datetime(2025, 5, 12, 16, 35, 31, 629931),
 datetime.datetime(2025, 5, 12, 16, 35, 31, 629931),
 'Board Content1',
 'user7@gmail.com',
 'Board Title1')

In [11]:
sql = "insert into boardtbl(title, content, member_id, created_date, updated_date) "
sql += "values(:1,:2,:3,:4,:5)"

data = ('python','python data','user1@gmail.com',now,now)
cursor.execute(sql,data)
conn.commit()

In [14]:
sql = "update boardtbl set title=:1, updated_date=:2 where bno=:3"

now = datetime.today()

cursor.execute(sql,('update title',now, 121))
conn.commit()

In [15]:
sql = "delete from boardtbl where bno=:1"

cursor.execute(sql,(121,))
conn.commit()