### 함수
```
def 함수명(매개변수):
    수행할문자1
    수행할문자2
```

In [2]:
def add(a,b):
    return a+b

In [3]:
print(add(5,21))

26

In [4]:
def say():
    return "Hi"

print(say())

Hi

In [5]:
print(add(a=7, b=16))

23

In [6]:
# 기본 매개변수

def print_n_times(value, n=2):
    for i in range(n):
        print(value)

In [8]:
print_n_times("안녕하세요",5)

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [ ]:
# 가변 매개변수 : *args
# 가변 매개변수 뒤에는 일반 매개변수가 올 수 없음
# 가변 매개변수는 하나만 사용

def add_many(*args):
    print(args)

# def add_many2(*args,n):
#     print(args)

In [14]:
add_many()
add_many("35","24","45")
add_many("A","b","C","D")
add_many([1,2,3,4,5])
# add_many2([1,2,3,4,5],33)

()
('35', '24', '45')
('A', 'b', 'C', 'D')
([1, 2, 3, 4, 5],)

In [16]:
def add_mul(choice, *args):
    if choice == "add":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args:
            result = result * i
    return result

In [19]:
print(add_mul("add", 10,11,12,13))
print(add_mul("mul", 10,11,12,13))

46
17160

In [20]:
# 키워드 매개변수 : **kwargs
# 매개변수를 딕셔너리 형태로 처리

def args_func1(**kwargs):
    print(kwargs)
    for k in kwargs.keys():
        print(k)
    for v in kwargs.values():
        print(v)

In [21]:
args_func1(name="Kim")
args_func1(name="Kim", age=15, active="Test")
args_func1(name="Kim", year=2025)

{'name': 'Kim'}
name
Kim
{'name': 'Kim', 'age': 15, 'active': 'Test'}
name
age
active
Kim
15
Test
{'name': 'Kim', 'year': 2025}
name
year
Kim
2025

In [22]:
def example_mul(arg1, arg2=5, *args, **kwargs):
    print(arg1, arg2, args, kwargs)

In [23]:
example_mul(10,20)
example_mul(10)
example_mul(10,15,"park","kim")
example_mul(10,15,"park","kim",age=25,name="choi")

10 20 () {}
10 5 () {}
10 15 ('park', 'kim') {}
10 15 ('park', 'kim') {'age': 25, 'name': 'choi'}

In [ ]:
# 다중리턴처럼 보이긴 하지만 tuple 로 리턴(리턴값은)

def func(a, b):
    return a+b, a*b

In [ ]:
print(func(10,20))

(30, 200)

In [28]:
def func2(a, b):
    return [a+b, a*b, a-b]

In [29]:
print(func2(10,20))

[30, 200, -10]

In [34]:
# 두 개의 숫자와 연산자를 입력받아 사칙연산(+,-,*,/)의 결과를 리턴하는 함수 작성

def fourRules(num1,op,num2):
    result = 0
    if op == "+":
        result = num1 + num2
    elif op == "-":
        result = num1 - num2
    elif op == "*":
        result = num1 * num2
    elif op == "/":
        result = num1 / num2 
    return result

In [36]:
a = int(input("num1"))
b = input("op")
c = int(input("num1"))

print(fourRules(a,b,c))

372

In [40]:
# 람다함수
# 익명함수

def square(x):
    return x**2

square2 = lambda x:x**2

In [39]:
print(square(5))

25

In [41]:
print(type(square2))

<class 'function'>

In [42]:
print(square2(7))

49

In [44]:
def add(a,b):
    return a+b

add2 = lambda a,b:a+b

In [45]:
print(add2(15,46))

61

In [ ]:
list1 = ["bob","charles","alexander3","teddy"]

print(list1)
list1.sort() # 알파벳 순서 오름차순
print(list1)

['bob', 'charles', 'alexander3', 'teddy']
['alexander3', 'bob', 'charles', 'teddy']

In [ ]:
# 문자의 길이가 짧은 순서대로 정렬
def str_len(s):
    return len(s)


list1.sort(key=str_len)
list1

['bob', 'teddy', 'charles', 'alexander3']

In [49]:
list1 = ["bob","charles","alexander3","teddy"]

list1.sort(key = lambda s:len(s))
list1

['bob', 'teddy', 'charles', 'alexander3']

In [54]:
# filter, map : 실행 우 새로운 리스트로 반환

list1 = [1,2,3,4,5,7,9,10,12,14]

# list1에서 짝수만 추출한 후 새로운 리스트로 생성
list2 = [x for x in list1 if x % 2 == 0]
print(list2)

def even(data):
    return [x for x in data if x % 2 == 0]

[2, 4, 10, 12, 14]

In [56]:
print(even([2,1,5,64,1,34,1,5,67,17,78]))
print(even(list1))

[2, 64, 34, 78]
[2, 4, 10, 12, 14]

In [58]:
# filter(함수, 필터적용할 리스트)
def even(n):
    return n % 2 == 0

list(filter(even, list1))

[2, 4, 10, 12, 14]

In [59]:
list(filter(lambda n:n%2==0, list1))

[2, 4, 10, 12, 14]

In [60]:
# map(함수, 리스트)
def mul(x):
    return x ** 2

list(map(mul, list1))

[1, 4, 9, 16, 25, 49, 81, 100, 144, 196]

In [61]:
list(map(lambda x:x**2, list1))

[1, 4, 9, 16, 25, 49, 81, 100, 144, 196]