#### 리스트
- java/javascript 의 배열과 개념 동일
- javascript의 배열과 동작방식 동일함(데이터를 여러 타입을 담을 수 있음)

In [1]:
# 리스트 생성
# list()

list1 = []
list2 = ["a","b","c",1,2,3]
list3 = [1,2,3,4,5.5,6.5]
list4 = [1,2,["Life","is","short"]] # 2차원 리스트
list5 = list('34')

In [2]:
print(list1)
print(list2)
print(list3)
print(list4)
print(list5)

[]
['a', 'b', 'c', 1, 2, 3]
[1, 2, 3, 4, 5.5, 6.5]
[1, 2, ['Life', 'is', 'short']]
['3', '4']

리스트 인덱싱과 슬라이싱

In [9]:
print(list2[0])
print(list4[2])
print(list4[-1])
print(list4[-1][0])
print(list5[-1])

a
['Life', 'is', 'short']
['Life', 'is', 'short']
Life
4

In [12]:
list6 = [1,2,["a","b",["earl", "sweatshirt"]]]

# earl 글자 출력
print(list6[2][2][0])
print(list6[-1][-1][0])

earl
earl

In [42]:
print(list2)
print(list2[:2])
print(list2[2:])

print(list4)
print(list4[2][:2])

['a']
['a']
[]
[1, 2, ['Life', 'is', 'short']]
['Life', 'is']

In [20]:
# + (연결) / *

print(list2 + list3)
print(list2 * 3)

['a', 'b', 'c', 1, 2, 3, 1, 2, 3, 4, 5.5, 6.5]
['a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3]

In [45]:
list2[1] = 'd'
print(list2)

list2[1:2] = [10, 11, 12] # 범위지정 : 풀어서 삽입
print(list2)

list2[1] = [15,16,17] # 위치지정 : 2차원으로 삽입
print(list2)

['a', 'd', 'c', 1, 2, 3]
['a', 10, 11, 12, 'c', 1, 2, 3]
['a', [15, 16, 17], 11, 12, 'c', 1, 2, 3]

In [46]:
# 리스트 요소 삭제

del list2[1]
print(list2)

['a', 11, 12, 'c', 1, 2, 3]

In [48]:
# len() : 길이
len(list2)

7

In [53]:
for i in list2:
    print(i,end=" ")

a 11 12 c 1 2 3

리스트 함수

In [ ]:
# append() : 리스트 뒤에 요소 추가
list5.append('5')
# list5.append('5','6',7) append()의 요소는 한 개
list5.append([6,7,8])
list5

['3', '4', '5', '5', [6, 7, 8]]

In [62]:
# 1 ~ 100 숫자 중에서 짝수만 리스트로 생성
# range(시작, 종료, 증감) : 종료는 포함안함

even = []
for i in range(2, 101, 2):
    even.append(i)

print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
# 리스트 원본 정렬 : sort() - 오름차순

list1 = [1,4,3,2]
list1.sort()
list1

[1, 2, 3, 4]

In [68]:
# list2.sort() 섞여있는 형태는 정렬 안 됨
list2 = ['z','w','t','c','d']
list2.sort()
list2

['c', 'd', 't', 'w', 'z']

In [70]:
list2 = ['z','M','w','A','t','c','V','d']
list2.sort() # 대문자 => 소문자
list2

['A', 'M', 'V', 'c', 'd', 't', 'w', 'z']

In [72]:
# sort(reverse = True) => 내림차순(desc)
print("정렬 전 ", list2)
list2.sort(reverse = True)
print("정렬 후 ", list2)

정렬 전  ['z', 'w', 't', 'd', 'c', 'V', 'M', 'A']
정렬 후  ['z', 'w', 't', 'd', 'c', 'V', 'M', 'A']

In [139]:
# reverse() : 리스트 뒤집기

print(list3)
list3.reverse()
print(list3)

[6.5, 5.5, 4, 3, 2, 1]
[1, 2, 3, 4, 5.5, 6.5]

In [ ]:
# index() : 특정 요소 위치 반환(없는 경우 에러)

# list3.index(9)
list3.index(1)

0

In [ ]:
# insert(위치, 요소) : 위치 지정해서 요소 삽입 
list3.insert(2, 35)

In [7]:
list3

[1, 2, 35, 3, 4, 5.5, 6.5]

In [ ]:
# remove() : 첫번째로 나오는 특정 요소 삭제

list3.remove(4)
list3

[1, 2, 35, 3, 5.5, 6.5]

In [9]:
# pop() : 리스트 맨 마지막 요소를 리턴하고 그 요소는 삭제

list3.pop()
list3

[1, 2, 35, 3, 5.5]

In [10]:
list3.pop(1)
list3

[1, 35, 3, 5.5]

In [ ]:
# count() : 리스트에 포함된 요소 개수 세기

list3.count(35)

1

In [14]:
list3.append(4)
list3

[1, 35, 3, 5.5, 4, 4]

In [15]:
list3.append([7,8,9])
list3

[1, 35, 3, 5.5, 4, 4, [7, 8, 9]]

In [ ]:
# extend() : 확장

list3.extend([16,17,18])
list3

[1, 35, 3, 5.5, 4, 4, [7, 8, 9], 16, 17, 18]

In [ ]:
# 참 : 리스트에 요소를 가지고 있으면 True, "abc"
# 거짓 : [], ""

if list2:
    print(True)
else:
    print(False)

True

In [21]:
list2

['a', 'b', 'c', 1, 2, 3]

In [2]:
# list 의 각 요소에 * 2 를 한 후 새로운 리스트로 반환
list1 = [1,2,3,4]
list2 = []
for i in list1:
    list2.append(i*2)

list2

[2, 4, 6, 8]

In [5]:
list3 = [x * 2 for x in list1]
list3

[2, 4, 6, 8]

In [19]:
print([x * x for x in range(5)])

[0, 1, 4, 9, 16]

1 메뉴 선택
A 자동차 들어감. 주차장 상태 ==> ['A']
B 자동차 들어감. 주차장 상태 ==> ['A','B']
....
E 자동차 들어감. 주차장 상태 ==> ['A','B','C','D','E']

2 메뉴 선택
E 자동차 나감. 주차장 상태 ==> ['A','B','C','D']

In [ ]:
# ord - 문자 => 유니코드 값 
print(ord("A"))

# chr - 유니코드값 => 문자
print(chr(65))

65

In [18]:
# 주차장 프로그램 작성

parking_lot = []
top, car_name = 0, "A"

while True:
    no = int(input("[1] 자동차 넣기 | [2] 자동차 빼기 | [3] 종료"))
    
    if no <= 3:
        if no == 1:
            if top >= 5: 
                print("주차장 꽉 찼음")
            else:
                top += 1
                parking_lot.append(car_name)
                print(f"{car_name} 자동차 들어감. 주차장 상태 ==> {parking_lot}")
                car_name = chr(ord(car_name) + 1)

        elif no == 2:
            if top < 1:
                print("차량없음")
            else:
                top -= 1
                parking_lot.pop()
                car_name = chr(ord(car_name) - 1)
                print(f"{car_name} 자동차 나감. 주차장 상태 ==> {parking_lot}")
                
        elif no == 3:
            break
    else:
        print("메뉴를 확인해 주세요")

A 자동차 들어감. 주차장 상태 ==> ['A']
B 자동차 들어감. 주차장 상태 ==> ['A', 'B']
C 자동차 들어감. 주차장 상태 ==> ['A', 'B', 'C']
D 자동차 들어감. 주차장 상태 ==> ['A', 'B', 'C', 'D']
E 자동차 들어감. 주차장 상태 ==> ['A', 'B', 'C', 'D', 'E']
주차장 꽉 찼음
주차장 꽉 찼음
E 자동차 나감. 주차장 상태 ==> ['A', 'B', 'C', 'D']
D 자동차 나감. 주차장 상태 ==> ['A', 'B', 'C']
C 자동차 나감. 주차장 상태 ==> ['A', 'B']
B 자동차 나감. 주차장 상태 ==> ['A']
A 자동차 나감. 주차장 상태 ==> []
차량없음
차량없음
메뉴를 확인해 주세요
메뉴를 확인해 주세요

### List Comprehension

In [ ]:
list3 = [x * 2 for x in list1]
list3

[0, 1, 4, 9, 16]

In [ ]:
print([x * x for x in range(5)])

[0, 1, 4, 9, 16]

In [26]:
list1 = ["갑","을","병","정"]
# 정 글자만 제외하고 새로운 리스트로 생성하기

# list2 = []
# for s in list1:
#     if s != "정":
#         list2.append(s)

# print(list2)

list2 = [s for s in list1 if s != "정"]
print(list2)

['갑', '을', '병']

In [28]:
# 1 ~ 100 숫자 중에서 홀수만 리스트로 생성

# list2 = []
# for i in range(1,101):
#     if i % 2 == 1:
#         list2.append(i)
# print(list2)

list2 = [i for i in range(1,101) if i % 2 == 1]
print(list2)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [32]:
list1 = ["nice","study","python","anaconda","!","abc","earl sweatshirt"]

# # 5글자 이상의 단어만 새로운 리스트로 생성
# list2 = []
# for i in list1:
#     if len(i) >= 5:
#         list2.append(i)
# print(list2)

list2 = [i for i in list1 if len(i) >= 5]
print(list2)

['study', 'python', 'anaconda', 'earl sweatshirt']

In [33]:
print([[x, x+1, x+2] for x in [1,2,3]])

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]