### 제어문
- if

In [71]:
a = 20
if a < 100:
    print("a는 100보다 작다")

a는 100보다 작다

In [72]:
a = 200
if 100 < a < 300:   # a > 100 and a < 300
    print("a는 100보다 크고 300보다 작다")

a는 100보다 크고 300보다 작다

In [73]:
# a=12, b=6, c=18
# 가장 큰 수 출력

a, b, c = 12, 6, 18

if a > b and a > c:
    print(a)
elif b > c:
    print(b)
else:
    print(c)

18

In [74]:
if a < 100:
    print("a 는 100보다 작다")
else:
    print("a 는 100보다 크다")

a 는 100보다 작다

In [75]:
# &&(python에서는 사용 안 함) => and, or
score, grade = 90, "A"

if score>=90 and grade == "A":
    print("합격")
else:
    print("불합격")

합격

In [76]:
# 사용자한테 입력받은 숫자가 짝, 홀 출력
num = int(input("숫자 입력 : "))
if(num % 2 == 0):
    print("짝수")
else:
    print("홀수")

홀수

In [77]:
# if ~ elif ~ else

if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"

print(f"등급 {grade}")

등급 A

In [78]:
# 숫자 두 개 입력, 연산자(+,-,*,/,//,%) 입력
# 계산기

num1 = int(input("숫자 입력 : "))
num2 = int(input("숫자 입력 : "))
op = (input("연산자 입력 : "))

if(op == "+"):
    print(f"{num1} {op} {num2} = {num1+num2}")
elif(op == "-"):
    print(f"{num1} {op} {num2} = {num1-num2}")
elif(op == "*"):
    print(f"{num1} {op} {num2} = {num1*num2}")
elif(op == "/"):
    print(f"{num1} {op} {num2} = {num1/num2}")
elif(op == "//"):
    print(f"{num1} {op} {num2} = {num1//num2}")
elif(op == "%"):
    print(f"{num1} {op} {num2} = {num1%num2}")
else:
    print("연산자 잘못 입력")

ValueError: invalid literal for int() with base 10: '+'

In [ ]:
# x in 리스트 : x 가 리스트안에 포함되어 있느냐?
# x in 문자열 : x 가 문자열안에 포함되어 있느냐?

print(1 in [1,2,3])
print("a" in "abc")

True
True

In [ ]:
1 not in [1,2,3]

False

In [ ]:
pocket = ["paper","money","cellphone"]
if "money" in pocket:
    print('money 있음')

money 있음

In [ ]:
# 파이썬에 삼항연산자( 조건 ? 참 : 거짓) 없음

# message = ""
# if score >= 60:
#     message = "success"
# else:
#     message = "fail"

message = "success" if score >= 60 else "fail"
message

'success'

### 반복문
- while
- for

In [ ]:
i = 1
while i < 11:
    print(i, end=" ")
    # i++
    i = i + 1

1 2 3 4 5 6 7 8 9 10

In [ ]:
# 1 ~ 100 합계


num, hap = 1, 0
while num < 101:
    hap = hap + num
    num = num + 1
print(hap)

5050

In [1]:
print(range(5))
print(list(range(5)))
print(sum(range(5)))
print(sum(range(101)))
print(sum(range(1,101)))
print(sum(range(1,101,2))) # 1, 3, 5

range(0, 5)
[0, 1, 2, 3, 4]
10
5050
5050
2500

In [ ]:
for i in range(1,11):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
for i in range(1, 101, 2):
    print(i, end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
# 1 ~ 사용자가 입력한 숫자까지 합계

num = int(input("숫자 입력"))
hap = 0
for i in range(1, num+1):
    hap = hap + i
print(hap)

120

In [ ]:
for i in range(5, -1, -1):
    print(i, end=" ")

5 4 3 2 1 0

In [4]:
list1 = ["사과", "딸기", "바나나", "포도"]

# 리스트 출력
for fruit in list1:
    print(fruit)

사과
딸기
바나나
포도

In [7]:
# tuple : (0, '사과')

# enumerate(리스트, 문자열, set, 튜플, 딕셔너리)

for idx, fruit in enumerate(list1):
    print(fruit)
    print(idx, fruit)

사과
0 사과
딸기
1 딸기
바나나
2 바나나
포도
3 포도

In [ ]:
a_class = [70,60,55,75,95,90,80,85,100]

# a_class 의 중간고사 점수에 대해서 평균 구하기

print(sum(a_class)/len(a_class))

total = 0
for num in a_class:
    total += num
print("평균 : %.2f" % (total / len(a_class)))

78.88888888888889
평균 : 78.89