### 모듈
- 함수, 클래스들 모아놓은 파일

### 패키지
- 관련있는 모듈의 집합

In [1]:
import math

print(math.ceil(3.14))
print(math.floor(3.14))
print(math.sin(3))

4
3
0.1411200080598672

In [ ]:
import random

# 0.0 <= x < 1.0
print(random.random())
# uniform(x,y) : x ~ y 사이의 임의의 float 값 리턴 
print(random.uniform(10,20))

# randrange(x) : 0 ~ x 사이의 int 값 리턴
# randrange(x,y) : x ~ y 사이의 int 값 리턴
print(random.randrange(10))
print(random.randrange(10,20))

# choice
list1 = [1,2,3,4,5,6,7]
# choice(리스트) : 리스트에서 임의로 하나
print(random.choice(list1))

# shuffle(리스트) : 리스트 내부의 요소들을 랜덤하게 섞기
random.shuffle(list1)
print(list1)

# sample(리스트, x) : 리스트 요소 중에서 x개 뽑기
print(random.sample(list1, 4))

0.5360279686492495
10.527341560630411
4
11
7
[3, 1, 6, 4, 7, 5, 2]
[1, 3, 4, 5]

In [68]:
import time

print("지금부터 5초 정지")
time.sleep(5)
print("5초 끝!")

지금부터 5초 정지
5초 끝!

In [69]:
# import 모듈명 : 전체 모듈 load
# from 모듈명 import 함수명, 클래스명 ... : 사용할 함수, 클래스만 가져오기

from math import ceil, floor, sin

print(ceil(3.14))
print(floor(3.14))
print(sin(3))

4
3
0.1411200080598672

In [70]:
from random import random, randrange, uniform, shuffle, choice, sample 

# 0.0 <= x < 1.0
print(random())
# uniform(x,y) : x ~ y 사이의 임의의 float 값 리턴 
print(uniform(10,20))

# randrange(x) : 0 ~ x 사이의 int 값 리턴
# randrange(x,y) : x ~ y 사이의 int 값 리턴
print(randrange(10))
print(randrange(10,20))

# choice
list1 = [1,2,3,4,5,6,7]
# choice(리스트) : 리스트에서 임의로 하나
print(choice(list1))

# shuffle(리스트) : 리스트 내부의 요소들을 랜덤하게 섞기
shuffle(list1)
print(list1)

# sample(리스트, x) : 리스트 요소 중에서 x개 뽑기
print(sample(list1, 4))

0.5704680664902937
12.945801404163753
0
14
4
[2, 5, 4, 3, 6, 7, 1]
[6, 1, 3, 5]

### 커스텀 모듈

In [71]:
import mod1

print(mod1.add(5,6))
print(mod1.sub(19,6))

11
13

In [72]:
from mod1 import add, sub

print(add(5,6))
print(sub(19,6))

11
13

In [73]:
from mod2 import * 

obj = Math()
print(obj.solv(5))

print(add(9,12))

78.5398
21

In [77]:
from mod3 import * 

calc = Calc(14,23)

print(calc.sum())

37

In [1]:
import datetime

day1 = datetime.datetime(2025,6,9,13,17,20)
day2 = datetime.date(2025,6,9)
day3 = datetime.date(2023,6,9)
time1 = datetime.time(13,17,20)

In [81]:
print(day1) 
print(day2, time1)

2025-06-09 13:17:20
2025-06-09 13:17:20

In [2]:
import time

# 1970-01-01 기준으로 지난 시간 초 단위로 리턴
time.time()

1749516480.6960878

In [ ]:
# weekday : 요일을 숫자로 처리(월 - 0)
print(day1.weekday())
print(day2 - day3)

0
731 days, 0:00:00

In [4]:
now = datetime.datetime.now()
now

datetime.datetime(2025, 6, 10, 9, 50, 19, 400374)

In [6]:
from datetime import datetime

now = datetime.now()
now

datetime.datetime(2025, 6, 10, 9, 51, 46, 797951)

In [7]:
now = datetime.today()
now

datetime.datetime(2025, 6, 10, 9, 52, 50, 394395)

In [9]:
print(time.time())
print(time.localtime(time.time()))
print(time.asctime(time.localtime(time.time())))

1749516896.3583708
time.struct_time(tm_year=2025, tm_mon=6, tm_mday=10, tm_hour=9, tm_min=54, tm_sec=56, tm_wday=1, tm_yday=161, tm_isdst=0)
Tue Jun 10 09:54:56 2025

### 내장함수

In [13]:
# enumerate() : 리스트, 튜플, 문자열을 입력으로 받아 인덱스와 enumrate 객체 리턴

list1 = ["body","foo","boo","bar"]

for item in list1:
    print(item)

for idx,item in enumerate(list1):
    print(idx, item)

body
foo
boo
bar
0 body
1 foo
2 boo
3 bar

In [17]:
str1 = "3"

# 숫자(int) => int(문자숫자)
print(int(str1))
print(int(3.141592))

# 실수 => float()
print(float(str1))
print(float(3))

# 문자 => str()
print(str(3))
print(str(3.4))

3
3
3.0
3.0
3
3.4

In [ ]:
# tuple <==> list

t1 = (1,2,3)
list1 = [4,5,6]

# list() / tuple()

print(list(t1))
print(tuple(list1))

# len() : 길이
print(len(t1))
print(len(list1))

[1, 2, 3]
(4, 5, 6)
3
3
[4, 5, 6]

In [ ]:
# list.sort() : 원본 정렬

list1.sort(reverse=True)
list1

[6, 5, 4]

In [24]:
list1 = [4,5,6,2,1]

# sorted() : 리스트 정렬 후 그 결과를 새로운 리스트로 리턴
list2 = sorted(list1, reverse=True)

print(list1)
print(list2)

[4, 5, 6, 2, 1]
[6, 5, 4, 2, 1]